
html {
    background-color: #cccccc;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

.header {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: right;
    padding-left: 15%;
    margin-top: 100px;
    
}


.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

/* card */

.card {
  min-height: 100%;
  background: rgb(196, 187, 187);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(109, 106, 106);
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p { 
  flex: 1; 
  line-height: 1.4;
}

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 15px;
  font-weight: bold;
  color: rgb(114, 112, 112);
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

@media only screen and (min-width: 500px) {
    .band {
      grid-template-columns: 1fr 1fr;
    }  
    .item-1 {
    grid-column: 1/ span 2;
    }
    .item-1 h1 {
      font-size: 30px;
    }

  }
  
  @media only screen and (min-width: 850px) {
    .band {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

  }

  @media only screen and (max-width: 414px) {
    
   .header{
    width: 10rem;
    height: 10rem;
    justify-content: center;
    /* position: fixed; */
    
   }

  }
  