body {
    background-color: #e3e3e3;
    overflow: hidden;
    /* Hide scrollbars */
}

.header {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.about {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.shop {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.commissions {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.work {
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
}

#linkcontainer {
    display: flex;
    justify-content: space-evenly;
}

.video {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 896px) {


    [class*="header"] {
        padding-left: 230px;
        display: flex;
        position: fixed;
    }

    [class*="about"] {
        padding-top: 80px;
        display: flex;
        padding-right: 50px;
    }

    [class*="shop"] {
        padding-top: 80px;
        display: flex;
        padding-right: 70px;
    }

    [class*="commissions"] {
        padding-top: 80px;
        display: flex;
        padding-right: 70px;
    }

    [class*="work"] {
        padding-top: 80px;
        display: flex;
        padding-right: 70px;
    }

    [class*="video"] {
        padding-left: 130px;
    }

    #linkcontainer {
        justify-content: space-between;
    }
}